node_modules/
.env*
.next/
dist/
build/
*.log
/find_emojis.js
/fix_guides.js
/recommit_script.js
/rewrite_requests.js
/run_page_translations.js
/sample_booking_email.html
/sample_email.html
/strip_dark_classes.js
/testRequest.js
/update_booking_details.js
/update_bookings_locales.js
/update_dashboard_locales.js
/update_locales.js
/update_locales_feedback.js
/update_locales_final.js
/update_locales_final_v2.js
/update_locales_home.js
/update_packages_locales.js
/update_pay_locales.js
/update_payments_locales.js
/update_remaining_headers.js
/update_requests_locales.js
/update_requests_page.js
/update_sidebar.js
/update_support_subtext.js
